# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/
.venv/

# Pytest
.pytest_cache/

# Playwright
test-results/
playwright-report/
blob-report/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
.coverage
htmlcov/